<!--文章阅读（首页）-->
<div class="articleRead mar_top_20">
  <div class="com-header">
    <p class="title">
      <span class="text">文章阅读</span>
    </p>
    <a class="more" href="#/news/article?categoryCode={{morningArticleUrl}}" target="_blank"></a>
  </div>
  <div class="borderNews">
    <div class="myTab" dw-loading="classGarden">
      <ul class="nav nav-tabs" ng-init="vm2.activeTab=0">
        <li ng-class="{active: vm2.activeTab == 0}">
          <a ng-click="vm2.activeTab = 0;getNewsList({rows: 6, CategoryCode: 'morningArticle'})">早晨太阳</a>
        </li>
        <li ng-class="{active: vm2.activeTab == 1}">
          <a ng-click="vm2.activeTab = 1;getNewsList({rows: 6, CategoryCode: 'sentToCourt'})">派出法院</a>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-panel perlist">
          <div class="title_bar">
            <div class="list3-5">文章名称</div>
            <div class="list2-5">时间</div>
            <div class="list2">作者</div>
            <div class="list2">点击量</div>
          </div>
          <div class="list" ng-repeat="list in morningArticleData.ListData">
            <div class="list3-5 bookLog">
              <span class="classLogoBg"></span>
              <a ui-sref="articleDetail({ID:list.Id})" target="_blank">{{list.Name}}</a>
            </div>
            <div class="list2-5">{{list.CreateDate | dateFilter | date:'yyyy-MM-dd'}}</div>
            <div class="list2">{{list.Author || "无"}}</div>

            <div class="list2">{{list.ClickCount}}</div>
          </div>
        </div>
        <div ng-show="!morningArticleData" class="result">暂无文章</div>
      </div>
    </div>
  </div>
</div>
