<!--导航-->
<div class="navBg">
  <div class="container_24">
    <ul class="nav nav-tabs">
      <li role="presentation" ui-sref-active="active"><a ui-sref="main">首页</a></li>
      <li role="presentation" ui-sref-active="active"><a ui-sref="courseCenter">课程中心</a></li>
      <li role="presentation" ui-sref-active="active"><a ui-sref="personalCenter">个人空间</a></li>
      <li role="presentation" ui-sref-active="active"><a href="http://122.225.101.114:8132/forum/index.aspx" target="_blank">交流园地</a></li>
      <li role="presentation" ui-sref-active="active"><a ui-sref="article({categoryCode:'referenceData'})">参考资料</a></li>
      <li role="presentation" ui-sref-active="active"><a ui-sref="article({categoryCode:'onlineHelp'})">在线帮助</a></li>
      <li role="presentation" ui-sref-active="active"><a ui-sref="testCenter">考核中心</a></li>
    </ul>
  </div>
</div>

